.btn {
    font-size: 21px;
    font-weight: 700;
    padding: 20px 60px;
    text-decoration: none;
    display: inline-block;
}
.btn--orange {
    color: #6a3f2d;
    background: linear-gradient(
        180deg,
        #fae79f 0%,
        #ddb97b 52.08%,
        #c6975a 100%
    );
}
.btn--border {
    background: linear-gradient(
        180deg,
        #fae79f 0%,
        #ddb97b 52.08%,
        #c6975a 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    position: relative;
    border: 2px solid;
    border-image: linear-gradient(
        180deg,
        #fae79f 0%,
        #ddb97b 52.08%,
        #c6975a 100%
    );
    border-image-slice: 1;
}

.btn--border-black {
    padding: 10px 20px 13px 20px;
    min-width: 130px;
    min-height: 41px;
    color: #332F2D;
    border: 1px solid #000;
    text-align: center;
    box-sizing: border-box;
}

.btn--instagram {
    position: relative;
    display: inline-flex;
    gap: 8px;

    &::before {
        content: '';
        position: relative;
        background-image: url(../img/inst-color.svg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 21px;
        height: 21px;
        flex-grow: 1;
    }
}