.main-title {
    font-weight: 700;
    font-size: 4.16667vw;
    line-height: 1.2;
    color: #FFFFFF;

    @media screen and (max-width:51.61458vw) {
        font-size: 2.34375vw;
    }
}

.middle-title {
    font-weight: 700;
    font-size: 3.38542vw;
    line-height: 1.2;
    color: #000000;

    @media screen and (max-width:51.61458vw) {
        font-size: 1.875vw;
    }
}

section.text {
    padding: 7.29167vw 0;
    background-color: #F3F2E4;
}

.text {
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 1.2;
    color: #332F2D;

    *:not(img, ul, ol, li, blockquote) {
        margin-bottom: 1.5625vw;
    }

    *:last-child {
        margin-bottom: 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 700;
        line-height: 1.2;
        color: #332F2D;
    }

    h1,
    h2 {
        font-size: 4.16667vw;
        margin-left: 0.98958vw;
    }

    h3 {
        font-size: 2.34375vw;
        margin-bottom: 1.5625vw;
    }

    h4,
    h5 {
        font-size: 1.66667vw;
    }

    h5,
    h6 {
        font-size: 1.40625vw;
    }

    strong,
    b {
        font-weight: 700;
        color: #332F2D;
    }

    a {
        color: #DF9F1A;
        text-decoration: underline;
    }

    blockquote {
        background: #E5DDC8;
        border-radius: 0.78125vw;
        font-weight: 400;
        font-size: 1.25vw;
        line-height: 1.3;
        text-align: center;
        color: #FFFFFF;
        padding: 3.85417vw 6.04167vw;
        position: relative;
        z-index: 2;

        &::before {
            content: "";
            position: absolute;
            top: 1.82292vw;
            left: 1.92708vw;
            width: 3.125vw;
            height: 2.44792vw;
            opacity: 0.45;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='47' fill='none'%3E%3Cpath fill='%23fff' d='M20.25 22.563H5.893a21.937 21.937 0 0 1 9.482-14.967l4.363-2.925L17.057.625 12.694 3.55A26.813 26.813 0 0 0 .75 25.853v16.21a4.875 4.875 0 0 0 4.875 4.874H20.25a4.875 4.875 0 0 0 4.875-4.874V27.437a4.875 4.875 0 0 0-4.875-4.875ZM54.375 22.563H40.018A21.938 21.938 0 0 1 49.5 7.595l4.363-2.925L51.206.625 46.82 3.55a26.812 26.812 0 0 0-11.944 22.303v16.21a4.875 4.875 0 0 0 4.875 4.874h14.625a4.875 4.875 0 0 0 4.875-4.874V27.437a4.875 4.875 0 0 0-4.875-4.875Z'/%3E%3C/svg%3E");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            pointer-events: none;
        }
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
        margin: 2.60417vw 0;
    }

    .alignleft {
        float: left;
        margin-right: 0.41667vw;
    }

    .alignright {
        float: right;
        margin-left: 0.41667vw;
    }

    .aligncenter {
        margin: 0 auto;
    }

    ul {
        margin-bottom: 1.45833vw;

        li {
            padding-right: 0.83333vw;
            position: relative;
            z-index: 2;
            color: #696766;

            &::after {
                content: "";
                position: absolute;
                top: 0.625vw;
                right: 0;
                width: 0.3125vw;
                height: 0.3125vw;
                border-radius: 50%;
                border: 0.05208vw solid #696766;
            }

            ol {
                counter-reset: numUl;

                li {
                    padding-right: 0;
                    color: #696766;

                    &::after {
                        display: none;
                    }

                    &::before {
                        counter-increment: numUl;
                        content: counters(numUl, '.') '.';
                        font-weight: 400;
                        font-size: 1.25vw;
                        line-height: 1.2;
                        color: #696766;
                    }
                }
            }
        }
    }

    ol {
        counter-reset: numOl;
        margin-bottom: 1.45833vw;

        li {
            list-style-type: none;
            color: #696766;
            padding-right: 1.30208vw;
            position: relative;

            &::before {
                counter-increment: numOl;
                content: counters(numOl, '.') '.';
                font-weight: 400;
                font-size: 1.25vw;
                line-height: 1.2;
                color: #696766;
                padding-left: 0.83333vw;
                position: absolute;
                right: 0;
            }

            ol {
                padding-right: 0.83333vw;
            }

            ul {
                padding-right: 0.83333vw;

                li {
                    padding-right: 0.83333vw;
                    position: relative;
                    z-index: 2;

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0.625vw;
                        right: 0;
                        width: 0.26042vw;
                        height: 0.26042vw;
                        border-radius: 50%;
                        background-color: #3E3E3E;
                    }

                    &::before {
                        display: none;
                    }
                }
            }
        }
    }

    p {
        color: #696766;
    }
}


@media screen and (max-width:991px) {
    .text {
        font-size: 0.9375vw;

        *:not(img, ul, ol, li, blockquote) {
            margin-bottom: 0.78125vw;
        }

        h1 {
            font-size: 2.34375vw;
        }

        h2 {
            font-size: 1.875vw;
        }

        h3 {
            font-size: 1.40625vw;
        }

        h4 {
            font-size: 1.25vw;
        }

        h5,
        h6 {
            font-size: 1.09375vw;
        }

        .alignleft,
        .alignright,
        .aligncenter {
            float: none;
            margin: 0 auto;
        }



        blockquote {
            font-size: 0.9375vw;
            padding: 7.1875vw 1.30208vw 3.22917vw;

            &::before {
                top: 2.96875vw;
                left: 50%;
                transform: translateX(-50%);
                width: 3.02083vw;
                height: 2.39583vw;
            }
        }

        ul {
            li {
                padding-right: 0.52083vw;

                &::after {
                    top: 0.41667vw;
                }

                ol {
                    li {
                        &::before {
                            font-size: 0.9375vw;
                        }
                    }
                }
            }
        }

        ol {
            li {
                &::before {
                    font-size: 0.9375vw;
                }

                ol {
                    padding-right: 0.52083vw;
                }

                ul {
                    padding-right: 0.52083vw;

                    li {
                        padding-right: 0.52083vw;

                        &::after {
                            top: 0.41667vw;
                        }
                    }
                }
            }
        }
    }
}