.blog {
    padding: 7.292vw 0 0 0;

    &-wrapper {
        display: flex;
        gap: 3.229vw;
    }

    .title-sm {
        color: #332F2D;
        text-align: right;
        font-size: 1.458vw;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        transition: all .3s;
    }

    .subtitle {
        color: #696766;
        text-align: right;
        font-size: 1.25vw;
        font-style: normal;
        font-weight: 300;
        line-height: 120%;
        transition: all .3s;
    }

    .blog-aside {
        max-width: 19.063vw;
        width: 100%;

        > * {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-bottom: 0.156vw solid #E6C785;
            background: #EAE8D6;
            padding: 2.344vw 1.302vw 2.604vw 1.302vw;
            margin-bottom: 1.563vw;
        }

        .title-sm {
            margin-bottom: 1.042vw;
        }

        .subtitle {
            margin-bottom: 1.302vw;
            margin-left: 1.563vw;
        }
    }

    .blog-main {
        flex-grow: 1;

        .text {
            margin-bottom: 5.208vw;
            margin-right: 1.667vw;
        }
    }

    .category-list {
        ul {
            display: flex;
            flex-direction: column;
            li {
                &:last-of-type {
                    .item {
                        border-bottom: 1px solid #D6CEB9;
                    }
                }
            }   
        }

        .item {
            border-top: 1px solid #D6CEB9;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.042vw 0.938vw 1.042vw 0;
            color: #696766;
            text-align: right;
            font-size: 1.25vw;
            font-style: normal;
            font-weight: 300;
            line-height: 100%;
            text-decoration-color: #EAE8D6;
            position: relative;
            transition: all .3s;

            &::after {
                content: '';
                position: absolute;
                width: 0.469vw;
                height: 0.469vw;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='9' viewBox='0 0 9 9' fill='none'%3E%3Ccircle cx='4.5' cy='4.5' r='3.5' stroke='%23E6C785' stroke-width='2'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }

            span {
                color: #98847C;
                font-size: 0.938vw;
                transition: all .3s;
                text-decoration: none;
            }

            &:hover {
                color: #332F2D;
                text-decoration-color: #332F2D;

                span {
                    text-decoration: none;
                }
            }
        }
    }

    .aside-newsletter {
        form {
            input {
                width: 100%;
                border: none;
                border-bottom: 1px solid #B5B5B5;
                background-color: transparent;
                color: #332F2D;
                font-size: 1.25vw;
                font-style: normal;
                font-weight: 300;
                line-height: 120%;
                padding: 0.26vw 0 0.625vw 0.521vw;

                &::placeholder {
                    color: #A8A8A8;
                }
            }
        }

        .form-button {
            margin-top: 0.938vw;

            .btn {
                padding: 0.625vw 3.125vw;
                width: 100%;
            }
        }
    }

    .recent-posts {
        padding-bottom: 1.042vw;

        .recent-posts-item {
            border-top: 1px solid #D6CEB9;
            padding: 1.042vw 0;
            display: grid;
            grid-template-columns: 6.667vw 1fr;
            grid-gap: 0.729vw;
            text-decoration: none;
        }

        .recent-posts-item__info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }

        .recent-posts-item__img {
            width: 100%;
            height: 4.063vw;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .tag {
            margin-bottom: 0.26vw;
        }

        .recent-posts-item__title {
            color: #332F2D;
            text-align: right;
            font-size: 1.094vw;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }
    }

    &-main-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3.646vw 0.625vw;
    }

    &-item {
        text-decoration: none;

        .blog-item__img {
            width: 100%;
            height: 13.281vw;
            margin-bottom: 0.781vw;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }

        .blog-item__info {
            padding-left: 0.625vw;

            .tag {
                margin-bottom: 0.781vw;
            }

            .title-sm {
                margin-bottom: 0.781vw;
            }

            .title-sm,
            .subtitle {
                text-decoration: underline;
                text-decoration-color: transparent;

            }
        }

        .title-sm {
            color: #332F2D;
            text-align: right;
            font-size: 1.458vw;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            transition: all .3s;
        }
    
        .subtitle {
            color: #696766;
            text-align: right;
            font-size: 1.25vw;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;
            transition: all .3s;
        }

        &:hover {

            .title-sm {
                text-decoration-color: #332F2D;
            }

            .subtitle {
                text-decoration-color: #696766;
            }
        }
    }

    @media screen and (max-width:991px) {
        padding: 11.733vw 0 0 0;

        &-wrapper {
            flex-direction: column;
            gap: 8vw;
        }
    
        .title-sm {
            font-size: 6.4vw;
        }

        .blog-main {
            .text {
                margin-bottom: 13.333vw;
            }
        }
    
        .subtitle {
            font-size: 5.6vw;
        }
    
        .blog-aside {
            max-width: 100%;
            order: 1;
            margin-bottom: 10.667vw;
    
            > * {
                padding: 9.333vw 5.333vw 9.333vw 5.333vw;
                margin-bottom: 5.333vw;
            }
    
            .title-sm {
                margin-bottom: 4vw;
            }
    
            .subtitle {
                margin-bottom: 5.333vw;
                margin-left: 5.333vw;
            }
        }
    
        .category-list {
            .item {
                padding: 4vw 4vw 4vw 0;
                font-size: 5.6vw;
    
                &::after {
                    width: 2.4vw;
                    height: 2.4vw;
                }
    
                span {
                    font-size: 4.267vw;
                }
            }
        }
    
        .aside-newsletter {
            form {
                input {
                    font-size: 4.8vw;
                    padding: 1.333vw 0 2.667vw 2.667vw;
                }
            }
    
            .form-button {
                margin-top: 4.8vw;
    
                .btn {
                    padding: 3.2vw 10.667vw;
                }
            }
        }
    
        .recent-posts {
            padding-bottom: 4vw;
    
            .recent-posts-item {
                padding: 4vw 0;
                grid-template-columns: .7fr 1fr;
                grid-gap: 2.667vw;
            }
    
            .recent-posts-item__img {
                width: 100%;
                height: 16vw;
            }
    
            .tag {
                margin-bottom: 1.333vw;
            }
    
            .recent-posts-item__title {
                font-size: 4.8vw;
            }
        }
    
        &-main-wrapper {
            grid-gap: 14vw 1.6vw;
            grid-template-columns: 1fr;
        }
    
        &-item {    
            .blog-item__img {
                height: 55.467vw;
                margin-bottom: 2.667vw;
            }
    
            .blog-item__info {
                padding-left: 2.667vw;
    
                .tag {
                    margin-bottom: 2.667vw;
                }
    
                .title-sm {
                    margin-bottom: 2.667vw;
                    font-size: 6.4vw;
                }
            
                .subtitle {
                    font-size: 5.6vw;
                }
        
            }
        }
    }
}