.hero {
    padding: 4.844vw 0 4.167vw 0;
    background: url(../img/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -1px;
    transition: all .4s ease-in-out;

    .hero__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .breadcrumbs {
        margin: 0 auto 1.042vw auto;

    }

    .title {
        color: #FFF;
        text-align: center;
        font-family: "Mikhmoret";
        font-size: 6.771vw;
        line-height: 1;
        font-style: normal;
        font-weight: 700;
    }

    .tag {
        .item {
            background: rgba(255, 255, 255, 0.15);

            span {
                color: #FFF;
            }

            img {
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(258deg) brightness(106%) contrast(101%);
            }
        }
    }

    @media screen and (max-width:991px) {
        padding: 24vw 0;
        background-image: url(../img/hero-bg-mob.jpg);
    
        .breadcrumbs {
            margin: 0 auto 2.333vw auto;
        }
    
        .title {
            font-size: 13.333vw;
        }
    }
}