.info-block {
    margin: 140px 0;

    .info-block__wrapper {
        display: grid;
        grid-template-columns: 849px 1fr;
        grid-gap: 67px;
    }

    .info-block__img {
        width: 100%;
        max-height: 492px;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        video {
            width: 100%;
            height: 100%;
        }
    }

    a.info-block__img {
        position: relative;

        &::after {
            content: '';
            width: 59px;
            height: 59px;
            position: absolute;
            bottom: 0;
            right: 0;
            background-color: rgba(53, 53, 53, 0.30);
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30' fill='none'%3E%3Cg clip-path='url(%23clip0_571_4093)'%3E%3Cpath d='M9.375 3.01411e-07H1.875C1.62873 -0.000139369 1.38485 0.0482636 1.1573 0.142442C0.929755 0.23662 0.723001 0.374726 0.548864 0.548864C0.374726 0.723001 0.23662 0.929755 0.142442 1.1573C0.0482636 1.38485 -0.000139369 1.62873 3.01411e-07 1.875V9.375C3.01411e-07 9.87228 0.197544 10.3492 0.549175 10.7008C0.900806 11.0525 1.37772 11.25 1.875 11.25C2.37228 11.25 2.84919 11.0525 3.20083 10.7008C3.55246 10.3492 3.75 9.87228 3.75 9.375V3.75H9.375C9.87228 3.75 10.3492 3.55246 10.7008 3.20083C11.0525 2.84919 11.25 2.37228 11.25 1.875C11.25 1.37772 11.0525 0.900806 10.7008 0.549175C10.3492 0.197544 9.87228 3.01411e-07 9.375 3.01411e-07Z' fill='white'/%3E%3Cpath d='M28.125 3.01411e-07H20.625C20.1277 3.01411e-07 19.6508 0.197544 19.2992 0.549175C18.9475 0.900806 18.75 1.37772 18.75 1.875C18.75 2.37228 18.9475 2.84919 19.2992 3.20083C19.6508 3.55246 20.1277 3.75 20.625 3.75H26.25V9.375C26.25 9.87228 26.4475 10.3492 26.7992 10.7008C27.1508 11.0525 27.6277 11.25 28.125 11.25C28.6223 11.25 29.0992 11.0525 29.4508 10.7008C29.8025 10.3492 30 9.87228 30 9.375V1.875C30.0001 1.62873 29.9517 1.38485 29.8576 1.1573C29.7634 0.929755 29.6253 0.723001 29.4511 0.548864C29.277 0.374726 29.0702 0.23662 28.8427 0.142442C28.6151 0.0482636 28.3713 -0.000139369 28.125 3.01411e-07Z' fill='white'/%3E%3Cpath d='M9.375 26.25H3.75V20.625C3.75 20.1277 3.55246 19.6508 3.20083 19.2992C2.84919 18.9475 2.37228 18.75 1.875 18.75C1.37772 18.75 0.900806 18.9475 0.549175 19.2992C0.197544 19.6508 3.01411e-07 20.1277 3.01411e-07 20.625V28.125C-0.000139369 28.3713 0.0482636 28.6151 0.142442 28.8427C0.23662 29.0702 0.374726 29.277 0.548864 29.4511C0.723001 29.6253 0.929755 29.7634 1.1573 29.8576C1.38485 29.9517 1.62873 30.0001 1.875 30H9.375C9.87228 30 10.3492 29.8025 10.7008 29.4508C11.0525 29.0992 11.25 28.6223 11.25 28.125C11.25 27.6277 11.0525 27.1508 10.7008 26.7992C10.3492 26.4475 9.87228 26.25 9.375 26.25Z' fill='white'/%3E%3Cpath d='M28.125 18.75C27.8787 18.7499 27.6349 18.7983 27.4073 18.8924C27.1798 18.9866 26.973 19.1247 26.7989 19.2989C26.6247 19.473 26.4866 19.6798 26.3924 19.9073C26.2983 20.1349 26.2499 20.3787 26.25 20.625V26.25H20.625C20.1277 26.25 19.6508 26.4475 19.2992 26.7992C18.9475 27.1508 18.75 27.6277 18.75 28.125C18.75 28.6223 18.9475 29.0992 19.2992 29.4508C19.6508 29.8025 20.1277 30 20.625 30H28.125C28.3713 30.0001 28.6151 29.9517 28.8427 29.8576C29.0702 29.7634 29.277 29.6253 29.4511 29.4511C29.6253 29.277 29.7634 29.0702 29.8576 28.8427C29.9517 28.6151 30.0001 28.3713 30 28.125V20.625C30.0001 20.3787 29.9517 20.1349 29.8576 19.9073C29.7634 19.6798 29.6253 19.473 29.4511 19.2989C29.277 19.1247 29.0702 18.9866 28.8427 18.8924C28.6151 18.7983 28.3713 18.7499 28.125 18.75Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_571_4093'%3E%3Crect width='30' height='30' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
            background-size: 30px 30px;
            background-repeat: no-repeat;
            background-position: center;
            transition: all .3s;
        }

        &:hover {
            &::after {
                transform: scale(1.1);
                bottom: 3px;
                right: 3px;
            }
        }
    }

    .info-block__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .title,
        h2 {
            color: #332F2D;
            text-align: right;
            font-size: 80px;
            font-style: normal;
            font-weight: 700;
            line-height: 90%;
            margin-bottom: 40px;
        }

        p {
            color: #696766;
            text-align: right;
            font-size: 24px;
            font-style: normal;
            font-weight: 300;
            line-height: 120%;

            &:not(:last-of-type) {
                margin-bottom: 28px;
            }
        }
    }

    @media screen and (max-width:991px) {
        margin: 45px 0;

        .info-block__wrapper {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 25px;
        }
    
        .info-block__img {
            max-height: none;
        }
    
        .info-block__text {
            justify-content: flex-start;
            
            .title,
            h2 {
                font-size: 32px;
                margin-bottom: 25px;
            }
    
            p {
                font-size: 21px;
    
                &:not(:last-of-type) {
                    margin-bottom: 0;
                }
            }
        }
    }
}