.quantity {
    border: 0.05208vw solid #D4BEB4;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6.35417vw;
    height: 2.5vw;

    input {
        border: none;
        border-left: 0.05208vw solid #D4BEB4;
        border-right: 0.05208vw solid #D4BEB4;
        width: 1.5625vw;
        color: #6A3F2D;
        font-size: 1.09375vw;
        font-weight: 300;
        text-align: center;
        padding-top: 0.20833vw;
    }

    div {
        color: #6A3F2D;
        font-size: 1.09375vw;
        font-weight: 300;
        cursor: pointer;
        user-select: none;
        height: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 2.34375vw;
        padding-top: 0.26042vw;
    }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}