.recommendations {
    padding: 100px 0;
    background: #E5DDC8;

    .recommendations__wrapper  {
        margin-right: 428px;

        .title {
            color: #332F2D;
            margin-bottom: 40px;
            text-align: right;
        }

        .tag {
            .item {
                background-color: #F3F2E4;
            }
        }
    }
}