@mixin scroll-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

@mixin list-scroll {
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar {
        width: 0.26042vw;
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: #CE931A;
    }
}