@include('partials/head.html')

<div class="page">
    @include('partials/header.html')

    <main class="main">

        <section class="hero">
            <div class="hero__inner">
                <picture class="hero__bg">
                    <source srcset="images/background/hero-bg-mb.jpg"
                        media="(max-width:550px)">
                    <img src="images/background/hero-bg.jpg"
                        alt="">
                </picture>
                <div class="container">

                    <div class="breadcums-block">
                        <ul class="breadcums">
                            <li class="breadcrumb-item">
                                <a href="#">דף הבית</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <strong>מדיניות הפרטיות</strong>
                            </li>
                        </ul>
                    </div>

                    <div class="hero__content">
                        <div class="hero__content-title">
                            <h1 class="main-title">
                                מדיניות הפרטיות
                            </h1>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="content">
            <div class="container">
                <div class="text">
                    <h2>
                        מדיניות הפרטיות שלנו
                    </h2>
                    <p>
                        אנו מכבדים את הפרטיות שלך ומחוייבים להגן על המידע הפרטי שלך. מדיניות הפרטיות הזו מסבירה אילו
                        מידע אנו אוספים וכיצד אנו משתמשים בו. על ידי גישה או שימוש באתר שלנו, אתה מסכים למדיניות
                        הפרטיות הזו. אם אינך מסכים למדיניות הפרטיות הזו, אנא אל תשתמש באתר שלנו.
                    </p>
                    <br>
                    <h3>
                        אוסף מידע
                    </h3>
                    <p>
                        אנו אוספים מידע כאשר אתה רשום על האתר שלנו או משתמש בו. המידע הזה כולל את השם שלך, כתובת
                        הדוא"ל שלך ומידע אחר שאתה מספק לנו. אנו גם אוספים מידע אוטומטי אודות המכשיר שאתה משתמש בו
                        לגלוש באתר שלנו, כולל כתובת IP, סוג המכשיר, דפדפן ופרטי גלישה.
                    </p>
                    <br>
                    <h3>
                        אוסף מידע
                    </h3>
                    <p>
                        אנו משתמשים במידע שאנו אוספים כדי לספק את השירותים שלנו ולשפר את האתר שלנו. אנו יכולים
                        להשתמש במידע שלך כדי ליצור איתך קשר בדבר שירותים נוספים שאנו מציעים או לשלוח לך חומרי פרסום
                        או דואר אלקטרוני עם מידע נוסף.
                    </p>
                    <br>
                    <h3>
                        אוסף מידע
                    </h3>
                    <p>
                        אנו לא מחלקים, משכירים או מפרסמים א
                    </p>
                    <br>
                    <p>
                        <strong>אנחנו מאגדים מידע מכמה מקורות שונים, כגון:</strong>
                    </p>
                    <p>
                        <strong>אנו משתמשים במידע שאנו אוספים כדי לספק את השירותים שלנו ולשפר את האתר שלנו.</strong>
                        אנו יכולים
                        להשתמש במידע שלך כדי ליצור איתך קשר בדבר שירותים נוספים שאנו מציעים או לשלוח לך חומרי פרסום
                        או דואר אלקטרוני עם מידע נוסף.
                        אנחנו מתחייבים להגן על פרטיותך ולשמור עליה בכל הנוגע לפעילות האינטרנטית שלנו. במסגרת זאת,
                        אנחנו מציגים לך את מדיניות הפרטיות שלנו, המציינת את המידע שאנו אוספים עליך, את שימושנו בו
                        ואת האפשרויות שלך לשלוט עליו.אנחנו מתחייבים להגן על פרטיותך ולשמור עליה בכל הנוגע לפעילות
                        האינטרנטית שלנו. במסגרת זאת, אנחנו מציגים לך את מדיניות הפרטיות שלנו, המציינת את המידע שאנו
                        אוספים עליך, את שימושנו בו ואת האפשרויות שלך לשלוט עליו.אנחנו מתחייבים להגן על פרטיותך
                        ולשמור עליה בכל הנוגע לפעילות האינטרנטית שלנו. במסגרת זאת, אנחנו מציגים לך את מדיניות
                        הפרטיות שלנו, המציינת את המידע שאנו אוספים עליך, את שימושנו בו ואת האפשרויות שלך לשלוט
                        עליו.אנחנו מתחייבים להגן על פרטיותך ולשמור עליה בכל הנוגע לפעילות האינטרנטית שלנו. במסגרת
                        זאת, אנחנו מציגים לך את מדיניות הפרטיות שלנו, <a href="#">המציינת את המידע שאנו אוספים</a>
                        עליך, את שימושנו
                        בו ואת האפשרויות שלך לשלוט עליו.אנחנו מתחייבים להגן על פרטיותך ולשמור עליה בכל הנוגע לפעילות
                        האינטרנטית שלנו. במסגרת זאת, אנחנו מציגים לך את מדיניות הפרטיות שלנו, המציינת את המידע שאנו
                        אוספים עליך, את שימושנו בו ואת האפשרויות שלך לשלוט עליו.
                    </p>
                    <p>
                        מדיניות פרטיות באתר שלך היא מסמך משפטי המודיע למשתמשים כיצד אתה אוסף ומטפל בנתונים האישיים
                        שלהם, עם מי אתה משתף אותם, אם אתה מוכר אותם וכל פרט רלוונטי אחר.
                    </p>
                    <p>
                        אתה יכול גם לקרוא למדיניות פרטיות א
                    </p>
                    <ul>
                        <li>
                            הסכם פרטיות
                        </li>
                        <li>
                            סעיף פרטיות
                        </li>
                        <li>
                            הודעת פרטיות
                        </li>
                        <li>
                            דף פרטיות
                        </li>
                    </ul>
                    <br>
                    <br>
                    <p>
                        כמעט כל עסק שאוסף נתונים דרך אתר אינטרנט, אפליקציה לנייד או אפליקציה למחשב שולחני חייב לפרסם
                        מדיניות פרטיות עקב אחד או כולם מהבאים:
                    </p>
                    <ol>
                        <li>
                            חוקי פרטיות נתונים
                        </li>
                        <li>
                            דרישות שירות של צד שלישי
                        </li>
                        <li>
                            שמירה על אמון ושקיפות בין העסק שלך ללקוחות
                        </li>
                    </ol>
                    <br>
                    <p>
                        PIPEDA מכסה עשרה נוהלי פרטיות הוגנים של מידע שחברות חייבות לפעול כדי לעשות עסקים בקנדה, והיא
                        חלה על כל העסקים, לא רק על אלה הפועלים באינטרנט.
                    </p>
                </div>
            </div>
        </section>

    </main>

    @include('partials/footer.html')
</div>

@include('partials/scripts.html')