@include('partials/head.html')

<div class="page">
    @include('partials/header.html')

    <main class="main">

        <section class="hero">
            <div class="hero__inner">
                <picture class="hero__bg">
                    <source srcset="images/background/hero-bg-mb.jpg"
                        media="(max-width:550px)">
                    <img src="images/background/hero-bg.jpg"
                        alt="">
                </picture>
                <div class="container">

                    <div class="breadcums-block">
                        <ul class="breadcums">
                            <li class="breadcrumb-item">
                                <a href="#">דף הבית</a>
                            </li>
                            <li class="breadcrumb-item active">
                                <strong>מדיניות הפרטיות</strong>
                            </li>
                        </ul>
                    </div>

                    <div class="hero__content">
                        <div class="hero__content-title">
                            <h1 class="main-title">
                                ייעוץ עסקי
                            </h1>
                        </div>
                        <div class="hero__content-info">
                            <div class="hero__content-info-item hero__content-info-categoty">
                                <span>טיפים לעסקים</span>
                            </div>
                            <div class="hero__content-info-item hero__content-info-views">
                                <span>304</span>
                            </div>
                            <div class="hero__content-info-item hero__content-info-date">
                                <span>16.03.2023</span>
                            </div>
                            <div class="hero__content-info-item hero__content-info-author">
                                <span>Robert Jackovich</span>
                            </div>
                        </div>
                        <div class="hero__content-result">
                            <div class="hero__content-result-title">
                            </div>
                            <div class="hero__content-result-search">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <section class="post">
            <div class="post__inner">
                <div class="container">
                    <div class="post__wrapper">
                        <div class="post__main">
                            <div class="text">
                                <h2>
                                    מה זה עסקים
                                </h2>
                                <p>
                                    מדיניות פרטיות באתר שלך היא מסמך משפטי המודיע למשתמשים כיצד אתה אוסף ומטפל
                                    בנתונים האישיים שלהם, עם מי אתה משתף אותם, אם אתה מוכר אותם וכל פרט רלוונטי
                                </p>
                                <p>
                                    אחר.אתה יכול גם לקרוא למדיניות פרטיות א:
                                </p>
                                <ul>
                                    <li>
                                        הסכם פרטיות
                                        <br>
                                        <br>
                                    </li>
                                    <li>
                                        סעיף פרטיות
                                        <br>
                                        <br>
                                    </li>
                                    <li>
                                        הודעת פרטיות
                                        <br>
                                        <br>
                                    </li>
                                    <li>
                                        דף פרטיות
                                        <br>
                                        <br>
                                    </li>
                                </ul>
                                <p>
                                    <img src="images/content-images/img-1.png"
                                        alt="">
                                </p>
                                <h3>
                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                </h3>
                                <p>
                                    <strong>חוקי הפרטיות משתנים ברחבי העולם,</strong> והאתר או האפליקציה שלך חייבים
                                    לציית לתקנות
                                    המבוססות <s>על מיקום העסק שלך</s>, קהל היעד שלך והמקום שבו אתה מנהל עסקים.
                                </p>
                                <p>
                                    ככל שאיסוף ועיבוד <a href="#">הנתונים הופכים נפוצים</a> יותר בכל רחבי האינטרנט,
                                    חוקי הפרטיות
                                    בארה"ב וברחבי העולם קובעים דרישות מחמירות למדיניות הפרטיות.
                                </p>
                                <p>
                                    החוקים הבאים משפיעים על אם ומתי אתה זקוק באופן חוקי לדף מדיניות פרטיות עבור האתר
                                    או האפליקציה שלך.
                                </p>
                                <p>
                                    פרק 3, סעיפים 13 ו-14 לחוק מבהירים שלמשתמשים יש את הזכות לקבל מידע מלא לגבי
                                    איסוף ושימוש בנתונים האישיים שלהם
                                </p>
                                <p>
                                    <img src="images/content-images/img-2.png"
                                        alt="">
                                </p>
                                <h3>
                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                </h3>
                                <p>
                                    כמעט כל עסק שאוסף נתונים דרך אתר אינטרנט, אפליקציה לנייד או אפליקציה למחשב
                                    שולחני חייב לפרסם מדיניות פרטיות עקב אחד או כולם מהבאים:
                                </p>
                                <ol>
                                    <li>
                                        חוקי פרטיות נתונים
                                        <br>
                                        <br>
                                    </li>
                                    <li>
                                        דרישות שירות של צד שלישי
                                        <br>
                                        <br>
                                    </li>
                                    <li>
                                        שמירה על אמון ושקיפות בין העסק שלך ללקוחות
                                        <br>
                                        <br>
                                    </li>
                                </ol>
                                <p>
                                    PIPEDA מכסה עשרה נוהלי פרטיות הוגנים של מידע שחברות חייבות לפעול כדי לעשות עסקים
                                    בקנדה, והיא חלה על כל העסקים, לא רק על אלה הפועלים באינטרנט
                                </p>
                                <p>
                                    <blockquote>
                                        אם אתה רוצה מדיניות פרטיות המותאמת במיוחד לאתר שלך, מחולל מדיניות הפרטיות שלנו
                                        ייצור עבורך אחת בתוך דקות.
                                    </blockquote>
                                </p>
                                <h4>
                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                </h4>
                                <p>
                                    תלוי איפה האתר שלך מבוסס, מי הקהל שלך ואיזה נתונים אתה אוסף, ישנם חוקים אחרים
                                    שעשויים לחול עליך ועל מדיניות הפרטיות שלך.
                                </p>
                                <p>
                                    לדוגמה, אם אתה שולח מיילים שיווקיים או ניוזלטרים, אתה כפוף לציית לחוק CAN-SPAM,
                                    המחייב מדיניות פרטיות שפורסמה בבירור.
                                </p>
                                <p>
                                    אם האתר שלך "עוסק באופן משמעותי" בפעילויות פיננסיות, אתה עשוי להיות כפוף לחוק
                                    Gramm-Leach-Bliley של ועדת הסחר הפדרלית (FTC), המחייב פרסום של "הצהרות ברורות,
                                    בולטות ומדויקות" לגבי נוהלי איסוף ושיתוף מידע
                                </p>
                                <p>
                                    ישנם למעלה ממאה חוקי פרטיות ברחבי העולם וחוקי אינטרנט חדשים שיוצאים מדי שנה.
                                    יצירה ותחזוקה של מדיניות פרטיות טובה חיונית לניהול חוקי של האתר או העסק שלך.
                                </p>
                                <p>
                                    הצוות המשפטי שלנו שומר על תבנית מדיניות הפרטיות המקיפה שלנו מעודכנת בחוקי פרטיות
                                    הנתונים המתפתחים כל הזמן.
                                </p>
                                <p>
                                    <img src="images/content-images/img-3.png"
                                        alt="">
                                </p>
                                <h4>
                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                </h4>
                                <p>
                                    תלוי איפה האתר שלך מבוסס, מי הקהל שלך ואיזה נתונים אתה אוסף, ישנם חוקים אחרים
                                    שעשויים לחול עליך ועל מדיניות הפרטיות שלך.
                                </p>
                                <p>
                                    לדוגמה, אם אתה שולח מיילים שיווקיים או ניוזלטרים, אתה כפוף לציית לחוק CAN-SPAM,
                                    המחייב מדיניות פרטיות שפורסמה בבירור.
                                </p>
                                <p>
                                    אם האתר שלך "עוסק באופן משמעותי" בפעילויות פיננסיות, אתה עשוי להיות כפוף לחוק
                                    Gramm-Leach-Bliley של ועדת הסחר הפדרלית (FTC), המחייב פרסום של "הצהרות ברורות,
                                    בולטות ומדויקות" לגבי נוהלי איסוף ושיתוף מידע .
                                </p>
                                <p>
                                    ישנם למעלה ממאה חוקי פרטיות ברחבי העולם וחוקי אינטרנט חדשים שיוצאים מדי שנה.
                                    יצירה ותחזוקה של מדיניות פרטיות טובה חיונית לניהול חוקי של האתר או העסק שלך.
                                </p>
                                <p>
                                    הצוות המשפטי שלנו שומר על תבנית מדיניות הפרטיות המקיפה שלנו מעודכנת בחוקי פרטיות
                                    הנתונים המתפתחים כל הזמן.
                                </p>
                                <p>
                                    <img class="alignleft"
                                        src="images/content-images/img-4.png"
                                        alt="">
                                </p>
                                <h5>
                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                </h5>
                                <p>
                                    תלוי איפה האתר שלך מבוסס, מי הקהל שלך ואיזה נתונים אתה אוסף, ישנם חוקים אחרים
                                    שעשויים לחול עליך ועל מדיניות הפרטיות שלך. לדוגמה, אם אתה שולח מיילים שיווקיים
                                    או ניוזלטרים, אתה כפוף לציית לחוק. SPAM, המחייב מדיניות פרטיות שפורסמה בבירור.
                                    אם האתר שלך "עוסק באופן משמעותי" בפעילויות
                                </p>
                                <p>
                                    פיננסיות, אתה עשוי להיות כפוף לחוק Gramm-Leach-Bliley של ועדת הסחר הפדרלית
                                    (FTC), המחייב פרסום של "הצהרות ברורות, בולטות ומדויקות" לגבי נוהלי איסוף ושיתוף
                                    מידע .
                                </p>
                                <p>
                                    ישנם למעלה ממאה חוקי פרטיות ברחבי העולם וחוקי אינטרנט חדשים שיוצאים מדי שנה.
                                    יצירה ותחזוקה של מדיניות פרטיות טובה חיונית לניהול חוקי של האתר או העסק שלך.
                                </p>
                                <p>
                                    ישנם למעלה ממאה חוקי פרטיות ברחבי העולם וחוקי אינטרנט חדשים שיוצאים מדי שנה.
                                    יצירה ותחזוקה של מדיניות פרטיות טובה חיונית לניהול חוקי של האתר או העסק שלך.
                                </p>
                                <p>
                                    הצוות המשפטי שלנו שומר על תבנית מדיניות הפרטיות המקיפה שלנו מעודכנת בחוקי פרטיות
                                    הנתונים המתפתחים כל הזמן.
                                </p>
                                <p>
                                    <img class="alignright"
                                        src="images/content-images/img-5.png"
                                        alt="">
                                </p>
                                <h5>
                                    אם תסתכלו על החברות הגדולות בעולם היום, תראו שהן כולן מתמקדות בבניית מודל עסקי
                                    חזק ומצליח
                                </h5>
                                <p>
                                    בנוסף, חשוב לשקול את התחרות בשוק ולהבין מהם הם יכולים להציע ללקוחות שלהם כדי
                                    להיות מובילים בתחום שלהם. כמו כן, יש לבחור את השוק המתאים ולהתמקד בו, כדי להבטיח
                                    שהחברה תצליח להשיג רווחים
                                </p>
                                <p>
                                    מתאימים ולהתפתח במהירות. כדי לבנות מודל עסקי חזק, יש לקחת בחשבון מספר גורמים
                                    חשובים. ראשית, יש להבין את הצרכים והדרישות של הלקוחות. במקביל, יש לשקול את המתן
                                    של השירות או המוצר המתאים לצרכי הלקוחות, כך שהם יהיו מרוצים ויחזרו להשתמש
                                    במוצרים ושירותים של החברה. בנוסף לכך, חשוב להיות יצירתיים ולחשוב על פתרונות
                                    חדשניים לבעיות קיימות. החברות המצליחות היום הן אלו שמצליחות להתאים לשינויים בשוק
                                    ולהביא פתרונות חדשים לצרכי הלקוחות
                                </p>
                            </div>
                        </div>
                        <div class="post__side">
                            <div class="post__side-block">
                                <div class="post__side-block-title">
                                    מאמרים פופולריים
                                </div>
                                <div class="post__side-block-list">
                                    <div class="list">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-img">
                                                    <img src="images/content-images/card-img-1.jpg"
                                                        alt="">
                                                </div>
                                                <a class="card-label"
                                                    href="#">
                                                    טיפים לעסקים
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-info">
                                                    <div class="card-info__item card-info__views">
                                                        <span>304</span>
                                                    </div>
                                                    <div class="card-info__item card-info__date">
                                                        <span>16.03.2023</span>
                                                    </div>
                                                    <div class="card-info__item card-info__author">
                                                        <span>Robert Jackovich</span>
                                                    </div>
                                                </div>
                                                <a class="card-title"
                                                    href="#">
                                                    טיפים לעסקים
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-img">
                                                    <img src="images/content-images/card-img-2.jpg"
                                                        alt="">
                                                </div>
                                                <a class="card-label"
                                                    href="#">
                                                    טיפים לעסקים
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-info">
                                                    <div class="card-info__item card-info__views">
                                                        <span>304</span>
                                                    </div>
                                                    <div class="card-info__item card-info__date">
                                                        <span>16.03.2023</span>
                                                    </div>
                                                    <div class="card-info__item card-info__author">
                                                        <span>Robert Jackovich</span>
                                                    </div>
                                                </div>
                                                <a class="card-title"
                                                    href="#">
                                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-img">
                                                    <img src="images/content-images/card-img-3.jpg"
                                                        alt="">
                                                </div>
                                                <a class="card-label"
                                                    href="#">
                                                    טיפים לעסקים
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-info">
                                                    <div class="card-info__item card-info__views">
                                                        <span>304</span>
                                                    </div>
                                                    <div class="card-info__item card-info__date">
                                                        <span>16.03.2023</span>
                                                    </div>
                                                    <div class="card-info__item card-info__author">
                                                        <span>Robert Jackovich</span>
                                                    </div>
                                                </div>
                                                <a class="card-title"
                                                    href="#">
                                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-img">
                                                    <img src="images/content-images/card-img-4.jpg"
                                                        alt="">
                                                </div>
                                                <a class="card-label"
                                                    href="#">
                                                    טיפים לעסקים
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-info">
                                                    <div class="card-info__item card-info__views">
                                                        <span>304</span>
                                                    </div>
                                                    <div class="card-info__item card-info__date">
                                                        <span>16.03.2023</span>
                                                    </div>
                                                    <div class="card-info__item card-info__author">
                                                        <span>Robert Jackovich</span>
                                                    </div>
                                                </div>
                                                <a class="card-title"
                                                    href="#">
                                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post__side-block">
                                <div class="post__side-block-title">
                                    אולי יעניין אותך
                                </div>
                                <div class="post__side-block-list">
                                    <div class="list">
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-img">
                                                    <img src="images/content-images/card-img-5.jpg"
                                                        alt="">
                                                </div>
                                                <a class="card-label"
                                                    href="#">
                                                    טיפים לעסקים
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-info">
                                                    <div class="card-info__item card-info__views">
                                                        <span>304</span>
                                                    </div>
                                                    <div class="card-info__item card-info__date">
                                                        <span>16.03.2023</span>
                                                    </div>
                                                    <div class="card-info__item card-info__author">
                                                        <span>Robert Jackovich</span>
                                                    </div>
                                                </div>
                                                <a class="card-title"
                                                    href="#">
                                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-img">
                                                    <img src="images/content-images/card-img-6.jpg"
                                                        alt="">
                                                </div>
                                                <a class="card-label"
                                                    href="#">
                                                    טיפים לעסקים
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-info">
                                                    <div class="card-info__item card-info__views">
                                                        <span>304</span>
                                                    </div>
                                                    <div class="card-info__item card-info__date">
                                                        <span>16.03.2023</span>
                                                    </div>
                                                    <div class="card-info__item card-info__author">
                                                        <span>Robert Jackovich</span>
                                                    </div>
                                                </div>
                                                <a class="card-title"
                                                    href="#">
                                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-img">
                                                    <img src="images/content-images/card-img-7.jpg"
                                                        alt="">
                                                </div>
                                                <a class="card-label"
                                                    href="#">
                                                    טיפים לעסקים
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-info">
                                                    <div class="card-info__item card-info__views">
                                                        <span>304</span>
                                                    </div>
                                                    <div class="card-info__item card-info__date">
                                                        <span>16.03.2023</span>
                                                    </div>
                                                    <div class="card-info__item card-info__author">
                                                        <span>Robert Jackovich</span>
                                                    </div>
                                                </div>
                                                <a class="card-title"
                                                    href="#">
                                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                                </a>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <div class="card-img">
                                                    <img src="images/content-images/card-img-8.jpg"
                                                        alt="">
                                                </div>
                                                <a class="card-label"
                                                    href="#">
                                                    טיפים לעסקים
                                                </a>
                                            </div>
                                            <div class="card-body">
                                                <div class="card-info">
                                                    <div class="card-info__item card-info__views">
                                                        <span>304</span>
                                                    </div>
                                                    <div class="card-info__item card-info__date">
                                                        <span>16.03.2023</span>
                                                    </div>
                                                    <div class="card-info__item card-info__author">
                                                        <span>Robert Jackovich</span>
                                                    </div>
                                                </div>
                                                <a class="card-title"
                                                    href="#">
                                                    דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="other-posts">
            <div class="other-posts__inner">
                <div class="container">
                    <div class="other-posts__title">
                        <h2 class="middle-title">
                            הודעות האחרונות:
                        </h2>
                    </div>
                    <div class="other-posts__list">
                        <div class="list">
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img">
                                        <img src="images/content-images/card-img-5.jpg"
                                            alt="">
                                    </div>
                                    <a class="card-label"
                                        href="#">
                                        טיפים לעסקים
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="card-info">
                                        <div class="card-info__item card-info__views">
                                            <span>304</span>
                                        </div>
                                        <div class="card-info__item card-info__date">
                                            <span>16.03.2023</span>
                                        </div>
                                        <div class="card-info__item card-info__author">
                                            <span>Jack Hosh</span>
                                        </div>
                                    </div>
                                    <a class="card-title"
                                        href="#">
                                        דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img">
                                        <img src="images/content-images/card-img-6.jpg"
                                            alt="">
                                    </div>
                                    <a class="card-label"
                                        href="#">
                                        טיפים לעסקים
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="card-info">
                                        <div class="card-info__item card-info__views">
                                            <span>304</span>
                                        </div>
                                        <div class="card-info__item card-info__date">
                                            <span>16.03.2023</span>
                                        </div>
                                        <div class="card-info__item card-info__author">
                                            <span>Lina Davidson</span>
                                        </div>
                                    </div>
                                    <a class="card-title"
                                        href="#">
                                        דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                    </a>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <div class="card-img">
                                        <img src="images/content-images/card-img-7.jpg"
                                            alt="">
                                    </div>
                                    <a class="card-label"
                                        href="#">
                                        טיפים לעסקים
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="card-info">
                                        <div class="card-info__item card-info__views">
                                            <span>304</span>
                                        </div>
                                        <div class="card-info__item card-info__date">
                                            <span>16.03.2023</span>
                                        </div>
                                        <div class="card-info__item card-info__author">
                                            <span>Derek Brunsona</span>
                                        </div>
                                    </div>
                                    <a class="card-title"
                                        href="#">
                                        דוגמה למדיניות פרטיות סטנדרטית עבור אתר אינטרנט
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    @include('partials/footer.html')
</div>

@include('partials/scripts.html')