<footer class="footer">
	<div class="container">
		<div class="footer__top">
			<div class="footer__info">
				<a href="#"
					class="logo">
					<img loading="lazy"
						src="img/logo.svg"
						alt="img">
				</a>
				<div class="footer__descr">
					הסיפור של החברה מתחיל בשנת 2002.
					נשמח לעזור לכם ליצור ארוחת אירוח מושלמת לחברים, משפחה וקהילה שלכם.
				</div>
				<a href="#"
					class="footer__info--link">
					מדיניות הפרטיות
				</a>
				<a href="#"
					class="footer__info--link">
					מדיניות החזרה
				</a>
			</div>
			<div class="footer__nav">
				<div>
					<div class="footer__nav--title">
						מפת אתר
					</div>
					<ul>
						<li><a href="#">ארוחות בוקר</a></li>
						<li><a href="#">כשרות</a></li>
						<li><a href="#">אודות</a></li>
						<li><a href="#">אירועי VIP</a></li>
						<li><a href="#">שאלות נפוצות</a></li>
					</ul>
				</div>
				<div>
					<div class="footer__nav--title">
						קטגוריות מוצרים
					</div>
					<ul>
						<li><a href="#">מאפים ולחמים</a></li>
						<li><a href="#">גבינות ונישנושים</a></li>
						<li><a href="#">כריכונים</a></li>
						<li><a href="#">סלטים וירקות</a></li>
						<li><a href="#">דגים ותבשילים</a></li>
						<li><a href="#">פסטות</a></li>
						<li><a href="#">מתוקים</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__map">
				<img loading="lazy"
					src="img/map.png"
					alt="img">
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__bottom--left">
				פיתוח אתרי אינטרנט: <p>LM Web Solutions</p>
			</div>
			<div class="footer__bottom--center">
				כל הזכויות שמורות. Dotish © 2023
			</div>
			<div class="footer__bottom--right">
				<div class="soc-wrap">
					<a href="#">
						<img loading="lazy"
							src="img/inst.svg"
							alt="img">
					</a>
					<a href="#">
						<img loading="lazy"
							src="img/facebook.svg"
							alt="img">
					</a>
					<a href="#">
						<img loading="lazy"
							src="img/youtube.svg"
							alt="img">
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>