<header class="header">
    <div class="container header__wrapper">
        <div class="search"></div>
        <a href="#"
            class="header__logo">
            <img src="img/logo.svg"
                alt="logo">
        </a>
        <nav class="nav">
            <ul>
                <li>
                    <a href="#">מגשי אירוח</a>
                </li>
                <li>
                    <a href="#">ארוחות בוקר</a>
                </li>
                <li>
                    <a href="#">תפריטים מומלצים</a>
                </li>
                <li>
                    <a href="#">קומפלקס אירועים</a>
                </li>
                <li>
                    <a href="#">אודות</a>
                </li>
                <li>
                    <a href="#">כשרות</a>
                </li>
                <li>
                    <a href="#">שאלות נפוצות</a>
                </li>
                <li>
                    <a href="#">יצירת קשר</a>
                </li>
            </ul>
        </nav>
        <a href="#"
            class="header__favorite"></a>
        <div class="basket">
            <div class="basket-icon">
                <span class="basket__num">3</span>
            </div>
            ההזמנה שלי
        </div>
    </div>
</header>