* {
    // font-family: "Open Sans Hebrew";
    font-family: 'Mikhmoret';
}

body {
    background: #EEEAE1;

    &.scroll-hide {
        overflow: hidden;
    }
}

.container {
    max-width: 90.10417vw;
    margin: 0 auto;
    padding: 0 0.78125vw;
}

.container-small {
    max-width: 50.26vw;
    margin: 0 auto;
    padding: 0 0.781vw;

    @media screen and (max-width:991px) {
        max-width: 100%;
        padding: 0 4vw;
    }
}

.page-site {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.main {
    background: #EEEAE1;
}

.pd-sec {
    padding: 5.20833vw 0;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 4.16667vw;
    font-weight: 700;
}