* {
    // font-family: "Open Sans Hebrew";
    font-family: 'Mikhmoret';
}

body {
    &.scroll-hide {
        overflow: hidden;
    }
}

.container {
    max-width: 1730px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-small {
    max-width: 965px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-site {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.main {
    background: #EEEAE1;
}

.pd-sec {
    padding: 100px 0;
}

.title {
    color: #fff;
    text-align: center;
    font-size: 80px;
    font-weight: 700;
}
