.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: background-color 0.3s ease-in-out;

    &::before {
        content: "";
        position: absolute;
        background-image: url("../img/header-line.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 100%;
        height: 0.10417vw;
        left: 0;
        bottom: 0;
    }

    &.header-scroll {
        background: #0A0A0A;

        .header__wrapper {
            padding: 1.40625vw 0.78125vw;
        }

        .header__logo {
            width: 5.20833vw;
            top: 50%;
        }

        .basket-modal::after {
            height: 1.40625vw;
            top: -1.40625vw;
        }

        .basket-modal--favorite {
            top: calc(100% + 1.40625vw);
        }

        .nav .sub-menu {
            top: calc(100% + 1.40625vw);
        }
    }
}

.page-site--not-main {
    padding-top: 6.25vw;

    .header {
        background: #0A0A0A;
    }

    .header__wrapper {
        padding: 2.44792vw 0.78125vw;
    }
}

.page-site--not-menu {
    padding-top: 120px;
    display: flex;
    flex-direction: column;

    .search-trigger,
    .search-modal,
    nav,
    .header__favorite,
    .basket,
    .basket-modal{
        display: none;
    }

    .header {
        background: #0A0A0A;
    }

    .header__wrapper {
        padding: 61px 15px;
    }

    .footer {
        margin-top: auto;
    }

    .main {
        background: #E5DDC8;

    }

}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2.86458vw 0.78125vw;
    transition: padding 0.3s ease-in-out;
}

.search-trigger {
    width: 1.14583vw;
    height: 1.14583vw;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}

.search-modal {
    position: absolute;
    right: 0;
    top: 100%;
    width: 19.53125vw;
    opacity: 0;
    transform: translateY(1.5625vw);
    pointer-events: none;
    transition: all 0.3s ease-in-out;

    &.active-search-modal {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
}

.search-modal__form {
    width: 100%;
    position: relative;

}

.search-modal__input {
    background-color: #000;
    border: none;
    border-radius: 0;
    border-bottom: 0.05208vw solid #B5B5B5;
    height: 3.125vw;
    width: 100%;
    text-align: right;
    font-size: 1.25vw;
    font-weight: 300;
    line-height: 120%;
    color: #FFF;

    &::placeholder {
        color: #A8A8A8;
    }
}

.search-modal__submit {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.search-modal__list {
    background: #EEEAE1;
    margin-top: 0.3125vw;
    padding: 1.04167vw 0;
    position: absolute;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(1.5625vw);
    transition: all 0.3s ease-in-out;

    &.active-search-list {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0);
    }

    li {
        width: 100%;
        padding: 0 1.04167vw;

        &:last-child {
            a {
                border-bottom: none;
            }
        }
    }

    a {
        color: #332F2D;
        text-align: right;
        font-size: 1.25vw;
        font-weight: 300;
        line-height: 120%;
        padding: 1.04167vw 0;
        width: 100%;
        display: block;
        border-bottom: 0.05208vw solid #DBD5C8;
        text-decoration: none;

        @media(any-hover: hover) {
            &:hover {
                background-color: #DBD5C8;
            }
        }

    }
}

.header__logo {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    width: 10.10417vw;
    transition: width 0.3s ease-in-out, top 0.3s ease-in-out;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.nav {
    >ul {
        display: flex;
        gap: 2.08333vw;

        >li {
            &:nth-child(4) {
                margin-left: 21.875vw;
            }

            >a {
                color: #fff;
                font-size: 1.09375vw;
                font-weight: 700;
                line-height: normal;
                text-decoration: none;
                position: relative;

                @media (any-hover: hover) {
                    &:hover {
                        &::before {
                            left: inherit;
                            right: 0;
                            width: 100%;
                        }
                    }
                }

                &::before {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 0.10417vw;
                    background-color: #fff;
                    bottom: -0.26042vw;
                    left: 0;
                    width: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
        }


    }

    .menu-item-has-children {
        position: relative;

        @media(any-hover: hover) {
            &:hover {
                .sub-menu {
                    opacity: 1;
                    pointer-events: all;
                    transform: translateY(0);
                }

                >a {
                    &::after {
                        transform: rotateX(0deg);
                    }
                }
            }
        }

        >a {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 5.5L5.5 1L10 5.5' stroke='white' stroke-width='0.692308'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-size: contain;
                width: 0.625vw;
                height: 0.36458vw;
                left: -0.9375vw;
                top: 0.41667vw;
                transform: rotateX(180deg);
                transition: transform 0.3s ease-in-out;
            }
        }
    }

    .sub-menu {
        position: absolute;
        top: calc(100% + 2.86458vw);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.10417vw;
        background-color: #EEEAE1;
        padding: 0.10417vw;
        width: 29.6875vw;
        opacity: 0;
        pointer-events: none;
        transform: translateY(1.5625vw);
        transition: all 0.3s ease-in-out;

        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 2.86458vw;
            left: 0;
            bottom: 100%;
        }

        li {
            background-color: #E6DEC9;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            text-align: center;
            height: 5.72917vw;
            position: relative;
            transition: all 0.3s linear;

            @media(any-hover: hover) {
                &:hover {
                    background: #FFF;
                    box-shadow: 0vw 0.41667vw 1.51042vw -0.26042vw rgba(0, 0, 0, 0.15);
                }
            }

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }

            a {
                color: #6A3F2D;
                text-align: center;
                font-size: 1.09375vw;
                font-weight: 300;
                line-height: 120%;
                margin-top: 0.52083vw;

                &::before {
                    position: absolute;
                    content: '';
                    width: 100%;
                    height: 100%;
                    left: 0;
                    top: 0;
                }
            }
        }
    }
}



.header__favorite {
    width: 1.14583vw;
    height: 1.14583vw;
    background-image: url("../img/favorite-icon.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    cursor: pointer;
}

.basket {
    color: #fff;
    font-size: 1.09375vw;
    font-weight: 700;
    text-decoration-line: underline;
    padding-right: 1.35417vw;
    position: relative;
    cursor: pointer;
}

.basket-icon {
    position: absolute;
    right: 0;
    background-image: url("../img/basket-icon.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1.14583vw;
    height: 1.14583vw
}

.circle-num {
    content: "";
    position: absolute;
    color: #51392f;
    text-align: center;
    font-size: 0.9375vw;
    font-weight: 700;
    border-radius: 50%;
    background: linear-gradient(180deg,
            #fae79f 0%,
            #ddb97b 52.08%,
            #c6975a 100%);
    width: 0.9375vw;
    height: 0.9375vw;
    right: -0.52083vw;
    top: -0.52083vw;
}

.basket-modal {
    position: absolute;
    top: 100%;
    left: 0;
    background: #EEEAE1;
    width: 27.23958vw;
    z-index: 100;
    opacity: 0;
    transform: translateY(1.5625vw);
    pointer-events: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 8px 21px 59px 0px rgba(182, 180, 153, 0.75);

    &.basket-modal-active {
        opacity: 1;
        transform: translateY(0);
        pointer-events: all;
    }

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 2.86458vw;
        left: 0;
        top: -2.86458vw;

    }

    &::before {
        position: absolute;
        content: '';
        height: calc(100% - 1.30208vw);
        bottom: 0;
        left: 1.40625vw;
        width: 0.05208vw;
        background: #DBD5C8;
        z-index: -1;
    }
}

.basket-modal__list {
    margin: 1.30208vw 0.52083vw 0 1.30208vw;
    max-height: 23.4375vw;
    overflow-y: auto;
    @include list-scroll;
    padding-right: 1.30208vw;
}

.basket-modal-item {
    display: flex;
    padding: 0.78125vw 0;
    border-bottom: 0.05208vw solid #DBD5C8;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.82292vw;
    position: relative;

    &:first-child {
        padding-top: 0;

        .basket-modal-item__close {
            top: -0.3125vw;
        }
    }
}

.basket-modal-item__close {
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23AFA794' d='m11.444 1.655-1.101-1.1-4.344 4.344L1.655.555l-1.1 1.1L4.899 6 .555 10.343l1.1 1.1L6 7.1l4.344 4.344 1.1-1.101L7.1 5.999l4.344-4.344Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h12v12H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 0.625vw;
    background-position: center;
    width: 1.25vw;
    height: 1.25vw;
    right: -1.45833vw;
    top: 0.46875vw;
    cursor: pointer;
    transition: filter 0.3s linear;

    @media(any-hover: hover) {
        &:hover {
            filter: brightness(0.5);
        }
    }
}

.basket-modal-item__right {
    display: flex;
    align-items: center;
}

.basket-modal-item__img {
    width: 3.4375vw;
    height: 4.32292vw;
    min-width: 3.4375vw;

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

.basket-modal-item__info {
    margin-right: 0.67708vw;
}

.basket-modal-item__title {
    color: #332F2D;
    font-size: 1.09375vw;
    font-weight: 700;
    line-height: 120%;
}

.basket-modal-item__characteristic {
    display: flex;
    align-items: center;
    gap: 1.04167vw;
    color: #6A3F2D;
    font-size: 1.09375vw;
    font-weight: 300;
    line-height: 120%;
    margin-top: 0.15625vw;
}

.basket-modal-item__weight {
    position: relative;

    &::before {
        position: absolute;
        content: '';
        height: 0.78125vw;
        width: 0.05208vw;
        background: #DBD5C8;
        right: -0.52083vw;
        top: 50%;
        transform: translateY(-50%);
    }
}

.basket-modal-item__left {
    display: flex;
}



.basket-modal-item__sum {
    margin-right: 1.5625vw;
    color: #6A3F2D;
    text-align: center;
    font-size: 1.09375vw;
    font-weight: 300;
    line-height: 120%;
}

.basket-modal-item__sum--title {
    color: #98847C;
    font-size: 0.72917vw;
    font-weight: 300;
    line-height: 120%;
    display: block;
    margin-bottom: 0.26042vw;
}

.basket-modal__bottom {
    display: flex;
    height: 2.86458vw;
}

.basket-modal__clean {
    width: 5.3125vw;
    background: #E5E4D5;
    transition: background 0.3s ease-in-out;

    &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23AFA794' d='m11.444 1.655-1.101-1.1-4.344 4.344L1.655.555l-1.1 1.1L4.899 6 .555 10.343l1.1 1.1L6 7.1l4.344 4.344 1.1-1.101L7.1 5.999l4.344-4.344Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h12v12H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        width: 0.625vw;
        height: 0.625vw;
        display: inline-block;
        margin-left: 0.41667vw;
        transform: translateY(0.05208vw);
        transition: filter 0.3s ease-in-out;
    }

    @media(any-hover: hover) {
        &:hover {
            background: #bbbab0;

            &::before {
                filter: brightness(0.5);
            }
        }
    }
}

.basket-modal__total {
    width: 8.85417vw;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.52083vw;
    text-align: center;
    color: #332F2D;
    font-size: 1.09375vw;
    font-weight: 300;
    line-height: 120%;
}

.basket-modal__total--title {
    color: #696766;
    font-size: 0.83333vw;
    font-weight: 300;
    line-height: 120%;
}

.basket-modal__btn {
    width: 13.07292vw;
}

.basket-modal--favorite {
    top: calc(100% + 2.86458vw);
}

.old-price {
    color: #BBAB81;
    font-size: 0.9375vw;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-color: #BBAB81;
        width: 120%;
        left: 0;
        top: 50%;
        transform: translateY(-50%) rotate(15deg);
        height: 0.05208vw;
    }
}

.favorite-modal-item__btn {
    width: 2.5vw;
    height: 2.5vw;
    background-color: #4A352C;
    position: relative;
    transition: background-color 0.3s ease-in-out;

    &::before {
        content: '';
        position: absolute;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cg stroke='%23D6A78D' stroke-linecap='round' stroke-linejoin='round' clip-path='url(%23a)'%3E%3Cpath d='M17.79 16.675H6.333L3.536 1.288a.802.802 0 0 0-.783-.663H.937M7.354 20.687a2.006 2.006 0 1 0 0-4.012 2.006 2.006 0 0 0 0 4.012ZM17.787 20.687a2.006 2.006 0 1 0 0-4.012 2.006 2.006 0 0 0 0 4.012Z'/%3E%3Cpath d='M5.603 12.662h12.599a1.595 1.595 0 0 0 1.575-1.314L21 4.638H4.148'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h22v22H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 1.14583vw;
        background-position: center;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        transition: filter 0.3s ease-in-out;
    }

    @media(any-hover: hover) {
        &:hover {
            background-color: #CE931A;

            &::before {
                filter: brightness(0.5);
            }
        }
    }

}


.burger {
    height: 21px;
    width: 30px;
    justify-content: flex-start;
    align-items: center;
    z-index: 350;
    cursor: pointer;
    transition: all .3s;
    display: none;
    position: relative;
    margin-left: 22px;

    span {
        position: absolute;
        background: #fff;
        height: 1px;
        width: 30px;
        display: block;
        transition: all .3s;
        border-radius: 5px;

        &:nth-child(1) {
            top: 16px;
            width: 25px;
        }

        &:nth-child(2) {
            top: 50%;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            bottom: 16px;
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                top: 10px;
                transform: rotate(45deg);
                width: 30px;
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                bottom: 10px;
                transform: rotate(-45deg);
            }
        }
    }
}